
// fonte
$fontePricipal:  Roboto, sans-serif;


// cores
$corbody: #f5f6fa; 
$corheade: #182C61;
$corli:#fff;;
$corbutton:#44bd32;
$corbuttonhover:#4cd137;

// Breakpoits
$mobile: 767px;
$tablet: 1023px;

